:root {
  --darkMain: #2a2a2a;
  --lightMain: #dedede;
  --midMain: #3a3a3a;
  --hover: #707070;
}


a {
  text-decoration: none;
  color:inherit;
}

body {
  background-color: var(--midMain);
  margin:0;
  font-family:system-ui;
  color: var(--lightMain);
}

#root {
    
}
.topBar {
  background-color: var(--darkMain);
  border-bottom: solid 1px var(--hover);
}
.logo {
  float: left;
  margin: 3px 16px;
  width: 50px;
  border-radius: 10000000px;
  box-shadow: 0 0 0px #00858f;
  transition: 0.3s;
  cursor: pointer;
}
.logo:hover {
  box-shadow: 0 0 20px #00858f;
}
.topBarTabs {
  margin:0;
  padding:10px 0;
  text-align:right;
}
.topBarTabs li {
  display: inline-block;
  padding: 5px 20px;
  margin:0 45px;
  border-radius: 5px;
  /* background-color: var(--midMain); */
  font-size:20px;
  color: var(--lightMain);
  transition: 0.3s;
  cursor:pointer;
}
.topBarTabs li:hover {
  background-color: var(--midMain);
}

.content {
  text-align:center;
}
.selectText {
  font-size:40px;
  margin-top:100px;
  margin-bottom:40px;
}
.gameList {
  width:50%;
  min-width:550px;
  min-height:200px;
  padding: 2px;
  margin:auto;
  text-align:left;
  border: solid 1px var(--lightMain);
}
.gameList li {
  display: block;
  padding: 0px 2px 2px 10px;
  border-radius: 5px;
  border-bottom: solid 1px var(--lightMain);
  font-size: 25px;
  transition: 0.3s;
  cursor:pointer;
}
.gameList li:hover {
  background-color: var(--hover);
}